@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');


body {
  background-color: #dddce5;
  color: #130c0e;
  background-image: url('https://i.ibb.co/qJY6w71/star.jpg');
}
.App {
  text-align: center;

  padding-right: 25px;
  font-family: 'Oswald';
  
}
div.nav img {
  height: 50px;
}
h1 {
  font-family: 'Poller One';
  color: #f6c800;
  text-shadow: 2px 2px 2px rgba(63, 54, 57, 0.72);
}
.nav {
  display: flex;
  justify-content: space-between;;
}
.small-picture {
  height: 96px;
  width:76px;
  border-radius: 60px;
}

.container {
  font-family: 'Oswald';
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr ;
  font-style: serif;
  gap: 20px 15px;
}

.small-container {
  margin-top: 10px;
  font-family: 'Oswald';
  color: white;
  background-color:  rgba(63, 54, 57, 0.72);
  border-radius: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  gap: 1px 1px;
  padding-bottom: 20px;
}
 h2 {
   color: white;
 }
div.people-link {
  grid-column: 1;
  text-justify: right;
  justify-items: center;
 
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-top: -10px;
}

div.people-info {
color: red;
list-style: none;
padding-right: 10px;
line-height: 18px;
padding-left: 20px;
margin-top: -20px;
}
.span{
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  grid-column: 1/3;
}
.people-button {
  display: flex;
  justify-content: left;
  align-content: left
  }
.battle{
  display: grid;
  grid-template-columns: 1fr 1fr;
}  